@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body{
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #5a545a;
    margin: 1.5em;
    font-size: 2.5em;
    font-weight: 600;
}

h2 {
    color: #5a545a;
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.7em;
    font-weight: 600;
}


 /*footer*/


footer{
    line-height: 1.42857;
    font-size: 14px;
    font-size: 1.4rem;
    background-color: #87bb34;
    color: white;
    width: auto;
}
footer .contenue .message{
    color: white;
    border-spacing: 2px;
}
.test{
    width: 80vw;
}
.lien a{
    text-decoration: none;
    color: gray; 
    text-align: center;
}
.barre{
    width: auto;
    line-height: 1.42857;
}
.barre1{
    background-color: #87bb34;
    width: 50%;
    height: 46px;
    position: relative;
    display: block;
}
.barre2{
    background-color: #44a33d;
    height: 46px;
    width: 50%;
    position: relative;
    display: block;
}

.mid{
    background-color: #F1F1F1;
    padding-top: 1em;
}
.petit-nav {
    display: flex;
    margin-left: 10em;
    color: #5a545a;
}
.accueil {
    color: #5a545a;
    text-decoration: none;
}

.accueil:hover {
    font-weight: 700;
}
.identifier {
    color: #87BB34;
    font-weight: bold;
    font-size: 1.2em;
}

.box{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.box1{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 24em;
}